parameters:
    level: 6

    paths:
        - ghost-media-hunter.php
        - src
        - uninstall.php

    excludePaths:
        - vendor/*
        - tests/*

    bootstrapFiles:
        - ghost-media-hunter.php
